:host{//elemento padre creado por antular 
    margin: 2px;
    border: 1px solid black;
    //box-shadow: 6px 2px 3px 4px black;
    border-radius: 5px;
    display: block;
}
img {
    max-width: 100%;
}
