<!--<input type="text" [(ngModel)]="title">
{{ title }}-->
<div *ngFor="let prod of productos"> 
  <app-product (productClicked)="clickProduct($event)" [producto]="prod"></app-product>
</div>
____________________________

<button (click)="addItem()">
  Add
</button>
<ul>
  <li *ngIf="array.length === 0">La lista esta vacia...  lo borraste todo manito!</li>
  <li *ngFor="let item of array; index as i">
    {{ i }} {{ item }} <button  (click)="borrarItem(i)">X</button>
  </li>

</ul>

<div *ngFor="let prod of productos"> 
 {{ prod.titulo }} 
<img src="{{ prod.imagen }}"  alt="">
</div>