/*:host{//elemento padre creado por antular 
    margin: 2px;
    border: 1px solid black;
    //box-shadow: 6px 2px 3px 4px black;
    border-radius: 5px;
    display: block;
}*/
img {
    max-width: 100%;
}
.notdecorate{
    text-decoration: none;
}
.crop-image{//clase que hace el recorte de imagenes para que, queden iguales
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
}