/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
@media (min-width: 576px){//agregando una regla
    .product-grid{
        grid-template-columns: repeat(4,1fr);
    }
}
@media (min-width: 1200px){//agregando una regla
    .product-grid{
        grid-template-columns: repeat(5,1fr);
    }
}
button{
    padding: 1em;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    background-color: rgb(3, 3, 109);
}
button:active{
    background-color: rgba(66, 66, 65, 0.575);
}